@import url(common.css);

/*=======================================*/
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.menu {
    z-index: 100;

    .menu-trigger {
        width: 25px;
        height: 16px;
        position: fixed;
        top: 58px;
        left: 10vw;
        transition: .5s;
        z-index: 500;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        span:nth-of-type(3) {
            bottom: 0;
        }
    }

    .menu-trigger.active span:nth-of-type(1) {
        top: 45%;
        transform: rotate(40deg);
    }

    .menu-trigger.active span:nth-of-type(2) {
        display: none;
    }

    .menu-trigger.active span:nth-of-type(3) {
        bottom: 45%;
        transform: rotate(-40deg);
    }

    .menu-trigger.active span {
        background: #ed354c;
        transition: .5s;
    }


    nav {
        width: 100%;
        height: 100%;
            background: #333;
            align-items: center;
            margin: 0px auto;
            padding: 15px 0;
            display: none;
            flex-wrap: wrap;
            justify-content: space-around;
            z-index: 100;
        a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            text-decoration: none !important;
            font-size: 80px;
            margin: 100px auto;
            img{width: 200px; margin: 0 auto;}

        }
        a:nth-of-type(1){margin:35px auto;}

        a:hover {
            color: #ed354c;
            transition: 1.2s;
        }
    }

    nav.active {
        display: block;
        transition: 2s;
        position: fixed;
        right: 100%;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        border: 10px solid #d1c0a5;
        // background: rgba(209, 192, 165,1);
        margin: 0 auto;
        align-items: center;
        transform: translateX(100%);
        transition: .5s;
        text-align: center;
    }
}

.logo {
    width: 200px;
    margin: 50px auto;

    a {
        img {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.left {
    position: absolute;
    top: 490px;
    left: 10vw;
    transition: .5s;
    transform: rotate(-90deg) translate(-30%, -50%);
    transform-origin: 0% 0%;

    p {
        font-size: 30px;
        width: 500px;
    }

    p:after {
        width: 70%;
        height: 1px;
        content: '';
        clear: both;
        background: white;
        opacity: 0.2;
        display: inline-block;
        margin: 0 0 10px 10px;
    }
}

// ===================================

.main {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;



    .m1 {
        width: 100%;
        text-align: right;
        margin-right: 50px;

        h2 {
            font-size: 60px
        }

        p {
            font-size: 35px
        }
    }

    span {
        width: 2px;
        height: 350px;
        content: '';
        clear: both;
        background: white;
        opacity: 0.2;
        display: inline-block;
        margin-top: 150px;
    }

    .m2 {
        width: 100%;
        font-size: 30px;
        margin: 35% 0 0 50px;

        p {
            line-height: 50px;
        }
    }
}

@media (max-width: 1080px){
   .main{width:70%;}
   .menu{
       nav.active{width:100%;}
   }
}
@media (max-width: 768px){
    .main {
        flex-wrap: wrap;
        display: block;
        text-align: center;
        span{
            width: 400px;
            height: 2px;
            margin: 80px auto;
        }
        .m1{
        width: 80%;
        text-align: right;
        margin: 100px 0px 0 0;
        h2 {
            font-size: 40px
        }

        p {
            font-size: 25px
        }
        }
        .m2{
            width: 60%;
        font-size: 25px;
        margin: 0 auto;
        text-align: left;
        }
    }
}
@media (max-width: 480px){

    .main{
        span{
            width: 230px;
            height: 2px;
            margin: 80px auto;
        }
        .m1{
            h2 {
                font-size: 23px
            }
            p{font-size:18px;}
        }
        .m2{
        font-size: 20px;
        }
    }
}

