@import url(common.css);

body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.menu {
    z-index: 100;

    .menu-trigger {
        width: 25px;
        height: 16px;
        position: fixed;
        top: 58px;
        left: 10vw;
        transition: .5s;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        span:nth-of-type(3) {
            bottom: 0;
        }
    }

    .menu-trigger.active span:nth-of-type(1) {
        top: 45%;
        transform: rotate(40deg);
    }

    .menu-trigger.active span:nth-of-type(2) {
        display: none;
    }

    .menu-trigger.active span:nth-of-type(3) {
        bottom: 45%;
        transform: rotate(-40deg);
    }

    .menu-trigger.active span {
        background: #ed354c;
        transition: .5s;
    }


    nav {
        margin: 0 auto;
        width: 70%;
        height: 80vh;
        top: 12%;
        left: 20%;
        position: fixed;
        display: none;
        transition: 2s;
        background: #262626;
        box-shadow: 10px 0px 0px 0px;
        z-index: 10;

        a {
            color: white;
            font-size: 150px;
            display: block;
        }

        a:hover {
            color: #ed354c;
            transition: 1.2s;
        }
    }

    nav.active {
        display: block;
        transition: 2s;
    }
}

.logo {
    width: 200px;
    margin: 50px auto;

    a {
        img {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.left {
    position: absolute;
    top: 250px;
    left: 10vw;
    transition: .5s;
    transform: rotate(-90deg) translate(-80%, -50%);
    transform-origin: 0% 0%;

    p {
        font-size: 30px;
        width: 500px;
    }

    p:after {
        width: 70%;
        height: 1px;
        content: '';
        clear: both;
        background: white;
        opacity: 0.2;
        display: inline-block;
        margin: 0 0 10px 10px;
	}
	.square {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: -5%;
        transition: .5s;

        span {
            position: absolute;
            left: 0;
            width: 10px;
            height: 10px;
            background: white;
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            left: 50%;
            // transform: translateY(-50%);
        }

        span:nth-of-type(3) {
            bottom: 20%;
        }

        span:nth-of-type(4) {
            bottom: 20%;
            left: 50%;
            background: #ed354c;
        }
    }

    .square.active {
        span {
            background: #ed354c;
        }
    }
}

.pop {
    width: 57%;
    height: 70%;
    z-index: 50;
    position: fixed;
    top: 18.2%;
    left: 22.8%;
    display: none;
    background: #d1c0a5;
    transition: 2s;
    transition-delay: .3s;

    h3 {
        font-size: 60px;
        text-align: center;
        margin: 50px;
        color: black;
    }

    .list {
        display: flex;
        justify-content: space-around;

        a {
            color: white;
            font-size: 30px;
            text-align: center;
            display: inline-grid;

            img {
                width: 300px;
                height: 200px;
                display: inline-block;
                margin-bottom: 20px;
                border-radius: 10px;
            }
        }

        a:hover {
            color: #ed354c;
            transition: 1.2s;

            img {
                transform: scale(1.1);
                transition: .5s;
            }
        }
    }
}

.pop.active {
    display: block;
    transition: 2s;
    transition-delay: .3s;
}

.detail {
    height: 80vh;
    width: 50%;
    display: flex;
	margin: 0 auto;

    .d1 {
        width: 100%;
        margin: 80px auto;

        h2 {
            font-size: 5em;
        }

        a {
            background: white;
            color: black;
            font-size: 1.2em;
            padding: 10px 40px;
            position: absolute;
            left: 25%;
            top: 15%;
            border-radius: 20px;
        }

        a:hover {
            background: none;
            color: white;
            border: 3px solid #ed354c;
            transition: 1s;
        }
    }

    img {
        width: 450px;
        height: 80%;
        transform: skew(-15deg);
        margin: 50px auto;
        box-shadow: 5px 5px 20px 5px rgb(100, 100, 100);
    }
}

.main {
    background: #d1c0a5;
    height: 100%;
    width: 100%;
    white-space: pre-line;
    text-align: center;
    padding: 50px 0 500px;

    .c1 {
        p {
            font-size: 1.3em;
            color: black;
        }
    }

    .c2 {
        width: 100%;
        height: 100%;

        figure {
            display: flex;
            width: 50%;
            height: 100%;
            margin: 0 auto;
            margin-top: 200px;
            color: black;
            opacity: 1;
            -webkit-transition: 1s;
            transition: 3s;
            position: relative;

            h3 {
                width: 50%;
                text-align: center;
                font-size: 1.5em;
            }

            figcaption {
                font-size: 20px;
                text-align: left;
                width: 100%;
                display: flex;

                span {
                    color: white;
                    background: #262626;
                    display: inline;
                    text-align: right;
                    padding: 10px 10px;
                    margin-right: 20px;
                }
            }
        }

        figure:nth-of-type(2) {
            span {
                padding: 10px 20px;
            }
        }

        figure.active {
            opacity: 1;
            margin-top: 20px;
        }
    }

    .c3 {
        margin-top: 100px;
        display: flex;

        img {
            position: absolute;
            width: 350px;
            height: 200px;
            box-shadow: 0px 0px 20px 1px black;
            // transform: rotate(-10deg);
        }

        img:nth-of-type(1) {
            left: 10%;
            bottom: 13%;
        }

        img:nth-of-type(2) {
            left: 15%;
            bottom: 2%;
        }

        img:nth-of-type(3) {
            left: 40%;
            bottom: 17%;
        }

        img:nth-of-type(4) {
            left: 43%;
            bottom: 5%;
        }

        img:nth-of-type(5) {
            right: 10%;
            bottom: 13%;
        }

        img:nth-of-type(6) {
            right: 14%;
            bottom: 2%;
        }
    }
}


// =============================================

@media (max-width: 1080px){

}
@media (max-width: 768px){
   
}
@media (max-width: 480px){
   
}
