@import url(common.css);
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.menu {
  z-index: 100;
}

.menu .menu-trigger {
  width: 25px;
  height: 16px;
  position: fixed;
  top: 58px;
  left: 10vw;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

.menu .menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu .menu-trigger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu .menu-trigger.active span:nth-of-type(1) {
  top: 45%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.menu .menu-trigger.active span:nth-of-type(2) {
  display: none;
}

.menu .menu-trigger.active span:nth-of-type(3) {
  bottom: 45%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.menu .menu-trigger.active span {
  background: #ed354c;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu nav {
  margin: 0 auto;
  width: 70%;
  height: 80vh;
  top: 12%;
  left: 20%;
  position: fixed;
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
  background: #262626;
  -webkit-box-shadow: 10px 0px 0px 0px;
          box-shadow: 10px 0px 0px 0px;
  z-index: 10;
}

.menu nav a {
  color: white;
  font-size: 150px;
  display: block;
}

.menu nav a:hover {
  color: #ed354c;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.menu nav.active {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

.logo {
  width: 200px;
  margin: 50px auto;
}

.logo a img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.left {
  position: absolute;
  top: 250px;
  left: 10vw;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotate(-90deg) translate(-80%, -50%);
          transform: rotate(-90deg) translate(-80%, -50%);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.left p {
  font-size: 30px;
  width: 500px;
}

.left p:after {
  width: 70%;
  height: 1px;
  content: '';
  clear: both;
  background: white;
  opacity: 0.2;
  display: inline-block;
  margin: 0 0 10px 10px;
}

.left .square {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: -5%;
  -webkit-transition: .5s;
  transition: .5s;
}

.left .square span {
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  background: white;
}

.left .square span:nth-of-type(1) {
  top: 0;
}

.left .square span:nth-of-type(2) {
  left: 50%;
}

.left .square span:nth-of-type(3) {
  bottom: 20%;
}

.left .square span:nth-of-type(4) {
  bottom: 20%;
  left: 50%;
  background: #ed354c;
}

.left .square.active span {
  background: #ed354c;
}

.pop {
  width: 57%;
  height: 70%;
  z-index: 50;
  position: fixed;
  top: 18.2%;
  left: 22.8%;
  display: none;
  background: #d1c0a5;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.pop h3 {
  font-size: 60px;
  text-align: center;
  margin: 50px;
  color: black;
}

.pop .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pop .list a {
  color: white;
  font-size: 30px;
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
}

.pop .list a img {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 10px;
}

.pop .list a:hover {
  color: #ed354c;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.pop .list a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.pop.active {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.detail {
  height: 80vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.detail .d1 {
  width: 100%;
  margin: 80px auto;
}

.detail .d1 h2 {
  font-size: 5em;
}

.detail .d1 a {
  background: white;
  color: black;
  font-size: 1.2em;
  padding: 10px 40px;
  position: absolute;
  left: 25%;
  top: 15%;
  border-radius: 20px;
}

.detail .d1 a:hover {
  background: none;
  color: white;
  border: 3px solid #ed354c;
  -webkit-transition: 1s;
  transition: 1s;
}

.detail img {
  width: 450px;
  height: 80%;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  margin: 50px auto;
  -webkit-box-shadow: 5px 5px 20px 5px #646464;
          box-shadow: 5px 5px 20px 5px #646464;
}

.main {
  background: #d1c0a5;
  height: 100%;
  width: 100%;
  white-space: pre-line;
  text-align: center;
  padding: 50px 0 500px;
}

.main .c1 p {
  font-size: 1.3em;
  color: black;
}

.main .c2 {
  width: 100%;
  height: 100%;
}

.main .c2 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  margin-top: 200px;
  color: black;
  opacity: 1;
  -webkit-transition: 1s;
  -webkit-transition: 3s;
  transition: 3s;
  position: relative;
}

.main .c2 figure h3 {
  width: 50%;
  text-align: center;
  font-size: 1.5em;
}

.main .c2 figure figcaption {
  font-size: 20px;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .c2 figure figcaption span {
  color: white;
  background: #262626;
  display: inline;
  text-align: right;
  padding: 10px 10px;
  margin-right: 20px;
}

.main .c2 figure:nth-of-type(2) span {
  padding: 10px 20px;
}

.main .c2 figure.active {
  opacity: 1;
  margin-top: 20px;
}

.main .c3 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .c3 img {
  position: absolute;
  width: 350px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 20px 1px black;
          box-shadow: 0px 0px 20px 1px black;
}

.main .c3 img:nth-of-type(1) {
  left: 10%;
  bottom: 13%;
}

.main .c3 img:nth-of-type(2) {
  left: 15%;
  bottom: 2%;
}

.main .c3 img:nth-of-type(3) {
  left: 40%;
  bottom: 17%;
}

.main .c3 img:nth-of-type(4) {
  left: 43%;
  bottom: 5%;
}

.main .c3 img:nth-of-type(5) {
  right: 10%;
  bottom: 13%;
}

.main .c3 img:nth-of-type(6) {
  right: 14%;
  bottom: 2%;
}
/*# sourceMappingURL=detail.css.map */