@import url(common.css);
/*=======================================*/
html,
body {
  position: relative;
}

.menu {
  z-index: 100;
}

.menu .menu-trigger {
  width: 25px;
  height: 16px;
  position: fixed;
  top: 58px;
  left: 10vw;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

.menu .menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu .menu-trigger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu .menu-trigger.active span:nth-of-type(1) {
  top: 45%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.menu .menu-trigger.active span:nth-of-type(2) {
  display: none;
}

.menu .menu-trigger.active span:nth-of-type(3) {
  bottom: 45%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.menu .menu-trigger.active span {
  background: #ed354c;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu nav {
  width: 70%;
  height: 110vh;
  position: absolute;
  left: 15%;
  top: -34.5%;
  margin: 0 auto;
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
  background: #262626;
  z-index: 10;
}

.menu nav .navLogo {
  width: 200px;
  margin: 50px auto 0;
}

.menu nav .navLogo a {
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
}

.menu nav .navLogo a img {
  width: 100%;
}

.menu nav a {
  color: white;
  font-size: 10em;
  display: block;
  width: 100%;
  -webkit-box-shadow: 10px 0px 0px 0px;
          box-shadow: 10px 0px 0px 0px;
}

.menu nav a:hover {
  color: #ed354c;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.menu nav.active {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

.logo {
  width: 200px;
  margin: 50px auto;
}

.logo a img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.left {
  position: fixed;
  top: 50px;
  left: 10.5vw;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotate(-90deg) translate(-130%, -50%);
          transform: rotate(-90deg) translate(-130%, -50%);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left p {
  font-size: 30px;
  width: 500px;
}

.left p:after {
  width: 70%;
  height: 1px;
  content: '';
  clear: both;
  background: white;
  opacity: 0.2;
  display: inline-block;
  margin: 0 0 10px 10px;
}

.left .square {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: -5%;
  -webkit-transition: .5s;
  transition: .5s;
}

.left .square span {
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  background: white;
}

.left .square span:nth-of-type(1) {
  top: 0;
}

.left .square span:nth-of-type(2) {
  left: 50%;
}

.left .square span:nth-of-type(3) {
  bottom: 20%;
}

.left .square span:nth-of-type(4) {
  bottom: 20%;
  left: 50%;
  background: #ed354c;
}

.left .square.active span {
  background: #ed354c;
}

.pop {
  width: 58%;
  height: 70%;
  z-index: 50;
  position: fixed;
  top: 18.2%;
  left: 22.8%;
  display: none;
  background: #d1c0a5;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.pop h3 {
  font-size: 60px;
  text-align: center;
  margin: 50px;
  color: black;
}

.pop .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pop .list a {
  color: white;
  font-size: 30px;
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
}

.pop .list a img {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 10px;
}

.pop .list a:hover {
  color: #ed354c;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.pop .list a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.pop.active {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.main {
  width: 55%;
  height: 600px;
  margin: 100px auto 0px;
  border: 20px solid #333;
}

.main .fade {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.main .fade .mcon a {
  position: absolute;
  left: 0%;
  top: 0;
}

.main .fade .mcon a img {
  width: 500px;
  height: 350px;
}

.main .fade .mcon p {
  position: absolute;
  right: 4%;
  top: 20px;
  text-align: left;
}

.main .fade .mtext {
  position: absolute;
  bottom: -550px;
  right: 0;
}

.main .fade .mtext a {
  color: white;
  line-height: 120px;
}

.main .fade .mtext a h2 {
  font-size: 10em;
  text-align: right;
}

.main .fade.active {
  opacity: 0;
}

.right {
  position: fixed;
  top: 50%;
  right: 10vw;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .indi {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 45%;
  right: 10%;
  -webkit-transition: .5s;
  transition: .5s;
}

.right .indi span {
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 100%;
  text-align: right;
}

.right .indi span a {
  color: #ed354c;
  position: absolute;
  right: 700%;
  top: -45%;
  width: 100%;
  display: none;
  font-size: 18px;
  text-align: right;
}

.right .indi span:nth-of-type(1) {
  top: 0;
}

.right .indi span:nth-of-type(2) {
  top: 100%;
}

.right .indi span:nth-of-type(3) {
  bottom: -130%;
}

.right .indi span:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: #ed354c;
}

.right .indi span:hover a {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.right .indi span.active {
  -webkit-transition: 1s;
  transition: 1s;
  background: #ed354c;
}

.right .rpage {
  color: #ed354c;
  position: absolute;
  right: 2.5vw;
  top: 290px;
  font-size: 20px;
}
/*# sourceMappingURL=pproject.css.map */