@import url(common.css);
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 스크롤 바 넓이 16px */
::-webkit-scrollbar{width: 16px; }
/* 스크롤 바 기본 색상 */
::-webkit-scrollbar-track {background-color:#f1f1f1;}
/* 스크롤 구간 배경 색상 */
::-webkit-scrollbar-thumb {background-color: black; border-radius: 10px;} 
/* 스크롤 바 위에 마우스 올렸을 때(hover) 색상 */
::-webkit-scrollbar-thumb:hover {background-color: #ed354c;} 
/* 스크롤 상하단 버튼 넓이와 색상 */
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
width:0px; height:0px; 
} 
/* ============================================== */

body {
    background: #262626;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* ============================================== */

.left {
    position: fixed;
    top: 78px;
    left: 10.3vw;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: rotate(-90deg) translate(-130%, -50%);
            transform: rotate(-90deg) translate(-130%, -50%);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .left p {
    font-size: 30px;
    width: 400px;
  }
  
  .left p:after {
    width: 60%;
    height: 1px;
    content: '';
    clear: both;
    background: white;
    opacity: 0.2;
    display: inline-block;
    margin: 0 0 10px 10px;
  }
  
  .left .square {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 5px;
    right: -7%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .left .square span {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    background: white;
  }
  
  .left .square span:nth-of-type(1) {
    top: 0;
  }
  
  .left .square span:nth-of-type(2) {
    left: 50%;
  }
  
  .left .square span:nth-of-type(3) {
    bottom: 20%;
  }
  
  .left .square span:nth-of-type(4) {
    bottom: 20%;
    left: 50%;
    background: #ed354c;
  }
  
  .left .square.active span {
    background: #ed354c;
  }
  
  .pop {
    width: 55%;
    height: 65%;
    z-index: 50;
    position: fixed;
    top: 18.2%;
    left: 22.7%;
    display: none;
    background: #d1c0a5;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  
  .pop h3 {
    font-size: 60px;
    text-align: center;
    margin: 50px;
    color: black;
  }
  
  .pop .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .pop .list a {
    color: white;
    font-size: 30px;
    text-align: center;
    display: -ms-inline-grid;
    display: inline-grid;
  }
  
  .pop .list a img {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .pop .list a:hover {
    color: #ed354c;
    -webkit-transition: 1.2s;
    transition: 1.2s;
  }
  
  .pop .list a:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .pop.active {
    display: block;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }


/* ============================================== */

/* cont, s--inactive */

.cont {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
   
}

.cont_inner {
    position: relative;
    height: 80%;
}

.cont_inner:hover .el_bg:after {
    opacity: 1;
}
/* ========================================= */

.cont.s--el-active .el_index {
    transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
    opacity: 0;
}

.cont.s--el-active .el:nth-child(1):not(.s--active) {
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
    transform: scale(0.5) translate3d(201.4166666667%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
    transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.cont.s--el-active .el:nth-child(5):not(.s--active) {
    transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.cont.s--el-active .el_bg:after {
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
}

.cont.s--el-active .el_preview-cont {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.cont.s--el-active .el_index {
    transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
    opacity: 0;
}

.cont.s--inactive .el_inner{
    transform: translate3d(0,100%,0);
}
.cont.s--inactive .el_bg:before{
    transform: translate3d(0,-100%,0) scale(1);
}
.cont.s--inactive .el_preview-cont{
    opacity: 0;
	transform: translateY(10px);
}

/*====================================*/



/*el*/


/*===== el_overflow  el_index */

.el {
    position: absolute;
    left: 15%;
    top: 5.5%;
    width: 25%;
    height: 80%;
    background: #262626;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 0.6s + 0.7s;
    will-change: transform, width, opacity;
}

.el:not(.s--active) {
    cursor: pointer;
}

.el:hover .el_bg:after {
    opacity: 0;
}
.el:hover .el_index {
    transform: translate3d(0, 0, 0);
}

.el:nth-child(1) {
    transform: translate3d(1,0,0);
    transform-origin: 50% 50%;
}

.el:nth-child(2) {
    transform: translate3d(105.2083333333%,0,0);
    transform-origin: 155.2083333333% 50%;
}
.el:nth-child(3) {
    transform: translate3d(210.4166666667%,0,0);
    transform-origin: 260.4166666667% 50%;
}
.el:nth-child(4) {
    transform: translate3d(315.625%,0,0);
    transform-origin: 365.625% 50%;
}
.el:nth-child(5) {
    transform: translate3d(420.8333333333%,0,0);
    transform-origin: 470.8333333333% 50%;
}

.el:nth-child(1) .el_inner {
    transition-delay: 0s;
}

.el:nth-child(2) .el_inner {
    transition-delay: 0.1s;
}
.el:nth-child(3) .el_inner {
    transition-delay: 0.2s;
}
.el:nth-child(4) .el_inner {
    transition-delay: 0.3s;
}
.el:nth-child(5) .el_inner {
    transition-delay: 0.4s;
}

.el:nth-child(1) .el_bg {
    transform: translate3d(0%, 0, 0);
    width: 100%;
}

.el:nth-child(2) .el_bg {
    transform: translate3d(-19.2%, 0, 0);
    
}
.el:nth-child(3) .el_bg {
    transform: translate3d(-38.4%, 0, 0);
}
.el:nth-child(4) .el_bg {
    transform: translate3d(-57.6%, 0, 0);
}
.el:nth-child(5) .el_bg {
    transform: translate3d(-76.8%, 0, 0);
}

.el:nth-of-type(1) .el_bg{ width: 100%;}

.el:nth-child(1) .el_bg:before {
    transition-delay: 0s;
    background-image: url('../img/pro_1.jpg');
    
}

.el:nth-child(2) .el_bg:before {
    transition-delay: 0.1s;
    /* background: pink; */
    background-image: url('../img/3-1.jpg');
   
}
.el:nth-child(3) .el_bg:before {
    transition-delay: 0.2s;
    background: lightslategrey;
    
}
.el:nth-child(4) .el_bg:before {
    transition-delay: 0.3s;
    background-image: url('../img/4.jpg');
   
}
.el:nth-child(5) .el_bg:before {
    transition-delay: 0.4s;
    background: lightcoral;
}

.el.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
}

.el.s--active .el_bg {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, -webkit-transform 0.6s;
}

/* .el.s--active .el_bg:before {
    transition-delay: 0.6s;
    transform: scale(1.1);
} */

.el.s--active .el_bg:before {
    transition: transform 0.8s, -webkit-transform 0.8s;
}

.el.s--active .closeBtn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
}
.el.s--active .el_content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
}
.el.s--active .closeBtn:before, .el.s--active .closeBtn:after {
    opacity: 1;
}
.el.s--active .closeBtn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(45deg) translateX(0);
}
.el.s--active .closeBtn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(-45deg) translateX(0);
}
.el:hover .el_index{
    transform: translate3d(0,0,0);
}

.el:hover .el_index-back {
    transition: opacity 0.25s;
    opacity: 1;
}
.el:hover .el_index-overlay{transform: translate3d(0,0,0);}
.el:hover .el_index-overlay:before{transform: translate3d(0,0,0);}

/*=====================================*/


/*el_overflow*/

.el_overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.el_inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s;
}


/*===================================*/

.el_bg {
    position: relative;
    width: calc(100vw - 100px);
    height: 100%;
    transition: transform 0.6s 0.7s;
    will-change: transform;
}


.el_bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: transform 1s;
    transform: translate3d(0, 0, 0) scale(1);
}

.el_bg:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
}


/*==================================*/

.el_preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
}


/*=================================*/

.el_heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
}


/*================================*/

.el_content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
   overflow: auto;
}


/*=================================*/

.el_text {
    text-transform: uppercase;
    font-size: 40px;
    color: #efeeed;
    width: 100%;
    height: 100%;
}
.dt_main{width: 100%; height: 100%; text-align: center; padding:50px 0;}
.dt_main .dt_m1 p{font-size: 20px;}
.dt_main .dt_m1 p a {color: white; display: block; margin: 40px auto; border: 1px solid white; width: 30%;}
.dt_main .dt_m2 figure{ 
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top:50px;
    color: #ededed;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 3s;
    position: relative;
    border-bottom: 1px solid #ff6565;
}
.dt_main .dt_m2 figure h3{width: 30%; text-align: center; font-size: 20px;}
.dt_main .dt_m2 figure figcaption{
    font-size: 20px;
    text-align: left;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    white-space: pre-line;
}
.dt_main .dt_m2 figure figcaption span{
        color: white;
        background: #262626;
        border: 1px solid white;
        display: inline;
        text-align: right;
        padding: 10px 10px;
        /* margin-right: 15px; */
    }
.dt_main .dt_m2 figure.active{opacity: 1; margin-top: 20px;}
.dt_main .dt_m3{margin-top: 10px;}
.dt_main .dt_m3 img{width: 300px; height:170px; padding: 20px;}
.dt_main .dt_m3 img:nth-of-type(1) {
    left: 10%;
    bottom: -80%;
}
.dt_main .dt_m3 img:nth-of-type(2) {
    left: 6%;
    bottom: -110%;
}
.dt_main .dt_m3 img:nth-of-type(3) {
    left: 40%;
    bottom: -78%;
}
.dt_main .dt_m3 img:nth-of-type(4) {
    left: 36%;
    bottom: -110%;
}
.dt_main .dt_m3 img:nth-of-type(5) {
    right: 6%;
    bottom: -80%;
}
.dt_main .dt_m3 img:nth-of-type(6) {
    right: 10%;
    bottom:-110%;
}


/*================================*/

.closeBtn {
    z-index: -1;
    position: fixed;
    right: 3%;
    top: 3%;
    width: 50px;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
}

.closeBtn:before,
.closeBtn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}
.closeBtn:before {
    transform: rotate(45deg) translateX(100%);
}

.closeBtn:after {
    transform: rotate(-45deg) translateX(100%);
}



/*=======================================*/
.el_index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    font-size: 15vw;
    line-height: 0.85;
    font-weight: bold;
    /*transition: transform 0.5s,
    opacity 0.3s 1.4s;*/
    transform: translate3d(0, 1vw, 0);
}
.el:hover .el_index {
    transform: translate3d(0, 0, 0);
}
/* @include contElActive {
    transition: transform $indexHoverAT, opacity 0.6s/2;
    opacity: 0;
} */
.el_index-back,
.el_index-front {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.el_index-back {
    color: #2f3840;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
}
.el:hover .el_index-back {
    transition: opacity 0.25s;
    opacity: 1;
}

/*=============================*/
.el_index-overlay {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.5s 0.1s;
    color: transparent;
}
.el_index-overlay:before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.5s 0.1s;
}
.el:hover .el_index-overlay {
    transform: translate3d(0, 0, 0);
}
.el:hover .el_index-overlay:before {
    transform: translate3d(0, 0, 0);
}


/*======================================*/
.el.s--active {
    z-index: 1;
    width: 80%;
    transform: translate3d(0,0,0);
    transition: transform 0.6s,width 0.7s 0.7s,z-index 0s;
}
.el.s--active .el_bg {
    transform: translate3d(0,
    0,
    0);
    transition: transform 0.6s;
}
.el.s--active .el_bg:before {
    transition-delay: 0.6s;
    transform: scale(1);
}

/*=========================================*/
/* .icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}
.icon-link img {
    width: 100%;
    vertical-align: top;
}
.icon-link--twitter {
    left: auto;
    right: 5px;
}
.icon-link:not(.s--active) {
    cursor: pointer;
} */


/* =============================== */

@media (max-width: 1080px) {}
@media (max-width: 768px) {}
@media (max-width: 480px) {}
