@import url(common.css);

/*=======================================*/
html, body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}
// ===================================\
.left {
    position: fixed;
    top: 50px;
    left: 10.5vw;
    transition: .5s;
    transform: rotate(-90deg) translate(-130%, -50%);
    transform-origin: 0% 0%;
    display: flex;
    align-items: center;

    p {
        font-size: 30px;
        width: 500px;
    }

    p:after {
        width: 70%;
        height: 1px;
        content: '';
        clear: both;
        background: white;
        opacity: 0.2;
        display: inline-block;
        margin: 0 0 10px 10px;
    }

    .square {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: -5%;
        transition: .5s;

        span {
            position: absolute;
            left: 0;
            width: 10px;
            height: 10px;
            background: white;
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            left: 50%;
            // transform: translateY(-50%);
        }

        span:nth-of-type(3) {
            bottom: 20%;
        }

        span:nth-of-type(4) {
            bottom: 20%;
            left: 50%;
            background: #ed354c;
        }
    }

    .square.active {
        span {
            background: #ed354c;
        }
    }
}

.pop {
    width: 55%;
    height: 65%;
    z-index: 50;
    position: fixed;
    top: 18.2%;
    left: 22.7%;
    display: none;
    background: #d1c0a5;
    transition: 2s;
    transition-delay: .3s;
    border: 20px solid #333;

    h3 {
        font-size: 60px;
        text-align: center;
        margin: 50px;
        color: black;
    }

    .list {
        display: flex;
        justify-content: space-around;

        a {
            color: white;
            font-size: 30px;
            text-align: center;
            display: inline-grid;

            img {
                width: 300px;
                height: 200px;
                display: inline-block;
                margin-bottom: 20px;
                border-radius: 10px;
            }

        }

        a:hover {
            color: #ed354c;
            transition: 1.2s;

            img {
                transform: scale(1.1);
                transition: .5s;
            }
        }
    }
}

.pop.active {
    display: block;
    transition: 2s;
    transition-delay: .3s;
}


// ===================================

.main {
    width: 55%;
    height: 600px;
    margin: 100px auto 0px;
    border: 10px solid #333;
    border-radius: 5%;
    .fade {
        // transition: 2s;
        // transition-delay: .3s;
        position: relative;
        width: 100%;
        margin: 0 auto;
        .mcon {

            a{
                
                left: 0%;
                top: 0;
                img {width: 500px; height: 350px;}
            }
            p {
               position: absolute;
               right: 0%; top:20px; text-align: left;
            }
        }

        .mtext{
            position: absolute;
            bottom: -60%;
            right: 0;
            a {
            color: white;
            line-height: 120px;

                h2 {
                    font-size: 10em;
                    text-align: right;
                }
            }
         }
    }
}

.right {
    position: fixed;
    top: 200px;
    right: 10vw;
    transition: .5s;
    display: flex;
    align-items: center;

    .indi {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 180px;
        right: 10%;
        transition: .5s;

        span {
            position: absolute;
            left: 0;
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 100%;
            text-align: right;

            a {
                color: #ed354c;
                position: absolute;
                right: 700%;
                top: -70%;
                width: 100%;
                display: none;
                font-size: 18px;
                text-align: right;

            }
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            top: 100%;
            // transform: translateY(-50%);
        }

        span:nth-of-type(3) {
            bottom: -130%;
            // transform: translateY(-50%);
        }

    }

    .indi span:hover {
        transition: 1s;
        background: #ed354c;

        a {
            display: block;
            transition: 1s;
        }
    }

    .indi span.active {
        transition: 1s;
        background: #ed354c;
    }

    .rpage {
        color: #ed354c;
        position: absolute;
        right: 2.5vw;
        top: 290px;
        font-size: 20px;
    }

}


// ==============================

@media (max-width: 1080px){
    .menu{
        nav.active{width:100%;}
    }
    .main {
        width: 55%;
        height: 600px;
        margin: 100px auto 0px;
        border: 20px solid #333;
        .fade {
            // transition: 2s;
            // transition-delay: .3s;
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .mcon {
                a{
                    position: absolute;
                    left: 0%;
                    top: 0;
                    img {width: 100%; height: 250px;}
                }
                p {
                   position: absolute;
                   right: 4%; top:50%; text-align: left;
                }
            }
    
            .mtext{
                position: absolute;
                bottom: 4%;
                right: 0;
                a {
                color: white;
                line-height: 120px;
    
                    h2 {
                        font-size: 5em;
                        text-align: right;
                        line-height:70px;
                    }
                }
             }
        }
    }
    .pop {
        width: 54%;
        height: 600px;
        z-index: 50;
        position: fixed;
        top: 17%;
        left: 23%;
        display: none;
        background: #d1c0a5;
        transition: 2s;
        transition-delay: .3s;
    
        h3 {
            font-size: 40px;
            text-align: center;
            margin: 50px;
            color: black;
        }
    
        .list {
            a {
                color: white;
                font-size: 15px;
                text-align: center;
                display: inline-grid;
    
                img {
                    width: 200px;
                    height: 100px;
                    display: block;
                    margin-bottom: 20px;
                    border-radius: 10px;
                }
    
            }
    
            a:hover {
                color: #ed354c;
                transition: 1.2s;
    
                img {
                    transform: scale(1.1);
                    transition: .5s;
                }
            }
        }
    }
    



    
 }
 @media (max-width: 768px){
    .main{
        .fade{
            .mcon{
                a{
                    img{
                        height:230px;
                    }
                }
                p{font-size: 12px;
                    right: 4%; top:55%; text-align: left;}
            }
            .mtext{
                position: absolute;
                bottom: 2%;
                right: 0%;
                a {
                color: white;
                line-height: 120px;
    
                    h2 {
                        font-size: 4em;
                        text-align: right;
                        line-height:60px;
                    }
                }
             }
        }

    }
}
@media (max-width: 480px){
    .main{
        .fade{
            .mcon{
                a{
                    img{
                        height:200px;
                    }
                }
                p{font-size: 12px;}
            }
            .mtext{
                position: absolute;
                bottom: 2%;
                right: 0%;
                a {
                color: white;
                line-height: 120px;
    
                    h2 {
                        font-size: 3em;
                        text-align: right;
                        line-height:50px;
                    }
                }
             }
        }

    }
}